# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


#### don't ignore the following file:
!ExtraLib/RobC/libRobC.so
!ExtraLib/RobC/libRobC_vm.so
!ExtraLib/RPX-L132/libRPiMNet.so
!ExtraLib/RPX-L132/libRPiMNet_64.so
!ExtraLib/RPX-L132/libRPiMNet_vm.so
